<!--The content below is only a placeholder and can be replaced.-->
<div class="contrainer">
  <div class="image-gallery">
    <a
      href="https://cdn.pixabay.com/photo/2014/11/03/17/40/leopard-515509_960_720.jpg"
      class="imag-1"
    >
      <!-- <i class="icon ion-md-expand"></i> -->
    </a>
    <a
      href="https://cdn.pixabay.com/photo/2017/05/17/12/42/tiger-2320819_960_720.jpg"
      class="imag-2"
    >
      <!-- <i class="icon ion-md-expand"></i> -->
    </a>
    <a
      href="https://cdn.pixabay.com/photo/2018/03/26/20/49/tiger-3264048_960_720.jpg"
      class="imag-3"
    >
      <!-- <i class="icon ion-md-expand"></i> -->
    </a>
    <a
      href="https://cdn.pixabay.com/photo/2015/11/16/22/14/cat-1046544_960_720.jpg"
      class="imag-4"
    >
      <!-- <i class="icon ion-md-expand"></i> -->
    </a>
  </div>
</div>
